{% load static %}
{% load widget_tweaks %}
<span class="login100-form-logo">
    <img alt="" src="{% static 'assets/img/logo-2.png' %}">
</span>
<span class="login100-form-title p-b-34 p-t-27">
    Reset Password
</span>
<div class="wrap-input100 validate-input" data-validate="Enter New Password">
    {{ form.new_password1 }}
    <span class="focus-input100" data-placeholder="&#xf207;"></span>
    <div class="error-msg" id="id_new_password1_error">
        {% if form.new_password1.errors %}
            <p>{{ form.new_password1.errors.0 }}</p>
        {% endif %}
    </div>
</div>
<div class="wrap-input100 validate-input" data-validate="Enter Confirm password">
    {{ form.new_password2 }}
    <span class="focus-input100" data-placeholder="&#xf191;"></span>
    <div class="error-msg" id="id_new_password2_error">
      
    </div>
</div>
{% if form.new_password2.errors %}
<p style="color:red">{{ form.new_password2.errors.0 }}</p>
{% endif %}
<br>
<div class="container-login100-form-btn">
    <button class="login100-form-btn" onclick="submit_form()">
        Reset Password
    </button>
</div>

   
