<div class="searched-items">
    <ul class="searched-info nav nav-tabs d-flex flex-column gap-10 mb-0"
    role="tablist">
    <li class="nav-item">
        <a class="nav-link customfont-tital active" id="dashboard-tab"
            data-toggle="tab" href="#dashboard-content" role="tab"
            aria-controls="dashboard-content" aria-selected="{% if active_tab == 'dashboard-content' %}true{% else %}false{% endif %}">
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link customfont-tital" id="employee-management-tab"
            data-toggle="tab" href="#employee-management-content" role="tab"
            aria-controls="employee-management-content" aria-selected="false">
            Employee Management
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="client-management-tab"
            data-toggle="tab" href="#client-management-content" role="tab"
            aria-controls="client-management-content" aria-selected="false">
            Client Management
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="department-tab"
            data-toggle="tab" href="#department-content" role="tab"
            aria-controls="department-content" aria-selected="false">
            Team
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="roster-tab"
            data-toggle="tab" href="#roster-content" role="tab"
            aria-controls="roster-content" aria-selected="false">
            Roster
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="client-incident-report-tab"
            data-toggle="tab" href="#client-incident-report-content" role="tab"
            aria-controls="client-incident-report-content" aria-selected="false">
            Client Incident Report
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="progress-notes-timesheet-tab"
            data-toggle="tab" href="#progress-notes-timesheet-content" role="tab"
            aria-controls="progress-notes-timesheet-content" aria-selected="false">
            Progress Notes and Timesheet
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="investigation-tab"
            data-toggle="tab" href="#investigation-content" role="tab"
            aria-controls="investigation-content" aria-selected="false">
            Admin Control
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link customfont-tital" id="company-policy-tab"
            data-toggle="tab" href="#company-policy-content" role="tab"
            aria-controls="company-policy-content" aria-selected="false">
            Settings
        </a>
    </li>
</ul>

</div>


