{% load static %}

 {% comment %} <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'landing_page/img/logo.png'%}" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="#">About Us</a></li>
          <li><a class="nav-link scrollto" href="#">Solutions</a></li>
          <li><a class="nav-link scrollto" href="#">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#">Contact Us</a></li>
          <li><a class="getstarted scrollto" href="#">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> {% endcomment %}

      <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container-fluid  d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h2 class="logo">Bells CRM</h2>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:about' %}">About Us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:solutions' %}">Solutions</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="{% url 'website:landing_page' %}#pricing">Pricing</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="{% url 'website:landing_page' %}#contact">Contact Us</a></li> 
          {% comment %} <li><a class="getstarted scrollto" href="{% url 'user_auth:register' %}">Register</a></li> {% endcomment %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
