<!-- start js include path -->
{% load static %}
	<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/plugins/popper/popper.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
	
	<!-- Common js-->
	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'assets/js/layout.js' %}"></script>
	<script src="{% static 'assets/js/theme-color.js' %}"></script>
	<!-- Material -->
    <script src="{% static 'assets/plugins/material/material.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/material-select/getmdl-select.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/js/pages/table/table_data.js' %}"></script>
	<script src="{% static 'assets/plugins/flatpicker/js/flatpicker.min.js' %}"></script>
	<script src="{% static 'assets/js/pages/date-time/date-time.init.js' %}"></script>
	
	<!-- dropzone -->
	<script src="{% static 'assets/plugins/dropzone/dropzone.js' %}"></script>
	<script src="{% static 'assets/plugins/dropzone/dropzone-call.js' %}"></script> 

	<script src="{% static 'assets/plugins/select2/js/select2.js' %}"></script>
	<script src="{% static 'assets/js/pages/select2/select2-init.js' %}"></script>
	<!-- Data Table -->
	<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}"></script>
	{% comment %} <script src="{% static 'assets/plugins/datatables/export/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/buttons.flash.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/jszip.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/pdfmake.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/vfs_fonts.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/buttons.html5.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatables/export/buttons.print.min.js' %}"></script> {% endcomment %}
	<script src="{% static 'assets/js/pages/table/table_data.js' %}"></script>
	<script src="{% static 'assets/plugins/sweet-alert/sweetalert2.all.min.js' %}"></script>
	<script src="{% static 'assets/plugins/sweet-alert/sweetalert2.min.js' %}"></script>
	<script src="{% static 'assets/js/pages/sweet-alert/sweet-alert-data.js' %}"></script>
	{% comment %} <script class="jsbin" src="http://datatables.net/download/build/jquery.dataTables.nightly.js"></script> {% endcomment %}

	{% comment %} <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="../assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
	<script src="../assets/js/pages/table/table_data.js"></script> {% endcomment %}