{% extends 'base_company_admin.html' %}
{% block title %}
Documents
{% endblock %}
{% block stylesheets %}
<style>
    .table-checkable tr>td:first-child, .table-checkable tr>th:first-child {
    
    max-width: 100%!important;
    min-width: 100% !important;
}
</style>
{% endblock %}
{% block content %}

<!-- startwidget -->
<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Documents</div>
		</div>
		<ol class="breadcrumb page-breadcrumb pull-right">
		
			<li><a class="parent-item" href="{% url 'employee:employee_company_documents' %}">Company policies</a>&nbsp;<i class="fa fa-angle-right"></i>
			</li>
			<li class="active">Documents</li>
		</ol>
	</div>
</div>

<div class="row">

	<div class="col-md-12">
		{% if messages %}
        <div class="col-md-12">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
		<div class="tabbable-line">
			<ul class="nav customtab nav-tabs" role="tablist">

			</ul>
			<div class="tab-content">
				<div class="tab-pane active fontawesome-demo" id="tab1">
					<div class="row">
                        <div class="col-md-12">
							<div class="card card-box">
								<div class="card-head">
                                </div>
                                <div class="card-body ">
                                    <div class="table-scrollable">
										<table
											class="table table-bordered table-striped table-hover "
											>
											<thead>
												<tr>
													<th class="col-md-8 text-left">Document</th>
													<th class="col-md-4 w-100" style="width: 100% !important;">Action </th>
												</tr>
											</thead>
											<tbody>
                                                <tr class="odd gradeX">
													<td class="col-md-8 text-left">
                                                        Terms and conditions
													</td>
                                                    <td class="col-md-4 w-100" style="width: 100% !important;">
                                                        <a href="{% url 'employee:employee_terms_and_conditions' %}"
															class="btn btn-primary btn-xs">
															<i class="fa fa-eye"></i>
														</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-9 text-left">
                                                        Privacy policy
                                                    </td>
                                                    <td class="col-md-3 w-100" style="width: 100% !important;">
                                                        <a href="{% url 'employee:employee_privacy_policy' %}"
															class="btn btn-primary btn-xs">
															<i class="fa fa-eye"></i>
														</a>
                                                    </td>
                                                </tr>       	
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $('#example4').DataTable({
    paging: false,
    info: false
});
</script>

{% endblock %}