{% extends "base_company_admin.html" %}
{% load widget_tweaks %}
{% load rostering_tags %}
{% load company_admin_tags %}   
{% block title %}
{% if request.resolver_match.url_name == 'departments_add' %}
Add Team
{% else %}
Edit Team
{% endif %}

{% endblock title %}
{% block stylesheets %}
<style>
    .nav-link.disabled {
        pointer-events: none;  
        color: #6c757d;        
        background-color: transparent; 
    }
    
</style>
{% endblock stylesheets %}
{% block content %}
{% load widget_tweaks %}

<!-- start widget -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            {% if request.resolver_match.url_name == 'departments_add' %}
            <div class="page-title">Add Team</div>
            {% else %}
            <div class="page-title">Edit Team</div>
            {% endif %}
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                    href="{% url 'company:departments_list' %}">Team</a>&nbsp;
                <i class="fa fa-angle-right"></i>
            </li>
            {% if request.resolver_match.url_name == 'departments_add' %}
            <li class="active">Add</li>
            {% elif request.resolver_match.url_name == 'department_client_assignment'  %}
            <li class="active">Clients</li>
            {% elif request.resolver_match.url_name == 'departments_edit'  %}
            <li class="active">Edit</li>
            {% endif %}


        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
     

        <ul class="nav customtab nav-tabs" role="tablist">
            {% if request.resolver_match.url_name == 'departments_add' %}
                <li class="nav-item">
                    <a href="{% url 'company:departments_add' %}" class="nav-link active">
                        Team
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">
                        Employees
                    </a>
                </li> {% endcomment %}
                {% if  request.user|has_permission:'userauth.update_clients_to_department' or request.user|has_permission:'userauth.update_own_clients_to_department' %}
                <li class="nav-item">
                    <a href="{% url 'company:department_client_assignment'%}?dept_id={{ department_id }}" class="nav-link disabled" tabindex="-1" aria-disabled="true">
                        Clients
                    </a>
                </li>
                {% endif %}
            {% elif request.resolver_match.url_name == 'departments_edit' %}
                <li class="nav-item">
                    <a href="{% url 'company:departments_edit' department_id %}" class="nav-link active">
                        Team
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="{% url 'company:department_employee_assignment'%}?dept_id={{ department_id }}" class="nav-link" tabindex="-1" aria-disabled="true">
                        Employees
                    </a>
                </li> {% endcomment %}
                {% if  request.user|has_permission:'userauth.update_clients_to_department' or request.user|has_permission:'userauth.update_own_clients_to_department' %}
                <li class="nav-item">
                    <a href="{% url 'company:department_client_assignment'%}?dept_id={{ department_id }}" class="nav-link" tabindex="-1" aria-disabled="true">
                        Clients
                    </a>
                </li>
                {% endif %}
            {% elif request.resolver_match.url_name == 'department_employee_assignment' %}
            <li class="nav-item">
                <a href="{% url 'company:departments_edit' dept_id %}" class="nav-link ">
                    Team
                </a>
            </li>
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link active">
                        Employees
                    </a>
                </li> {% endcomment %}
                {% if  request.user|has_permission:'userauth.update_clients_to_department' or request.user|has_permission:'userauth.update_own_clients_to_department' %}
                <li class="nav-item">
                    <a href="{% url 'company:department_client_assignment' %}?dept_id={{ dept_id }}" class="nav-link active">
                        Clients
                    </a>
                </li>
                {% endif %}
            {% elif request.resolver_match.url_name == 'department_client_assignment' %}

            <li class="nav-item">
                <a href="{% url 'company:departments_edit' department_id %}" class="nav-link ">
                    Team
                </a>
            </li>
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link active">
                        Employees
                    </a>
                </li> {% endcomment %}
                {% if  request.user|has_permission:'userauth.update_clients_to_department' or request.user|has_permission:'userauth.update_own_clients_to_department' %}
                <li class="nav-item">
                    <a href="{% url 'company:department_client_assignment' %}?dept_id={{ department_id }}" class="nav-link active">
                        Clients
                    </a>
                </li>
                {% endif %}
            {% endif%}
        </ul>
        
            <div class="card-box p-3">
                <div class="card-head">
                    {% if request.resolver_match.url_name == 'departments_add' or request.resolver_match.url_name == 'departments_edit' %}
                    <header>Team information</header>
                    {% elif request.resolver_match.url_name == 'department_employee_assignment' %}
                    <header>Employee information</header>
                    {% elif request.resolver_match.url_name == 'department_client_assignment'%}
                    <header>Client information</header>
                    {% endif%}
                    <div class="col-md-12">
                        <div class="p-rl-20">
                     
                     </div>
                    </div>
                </div>
                
                {% if request.resolver_match.url_name == 'departments_add' or request.resolver_match.url_name == 'departments_edit' %}
                <form method="post" id="departmentForm" class="disable-on-submit">
                    {% csrf_token %}
                    {% render_field form.company %}
                    {% render_field form.author %}
                    <div style="display: none;">
                        {% render_field form.employees %}
                    </div>
                <div class="card-body row">
                    <div class="col-lg-6 p-t-20">
                        <div   
                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            {% render_field form.name class="mdl-textfield__input"%}
                            <span class="focus-input100 error-label" data-placeholder="&#xf191;" >{{ form.name.errors }}</span>
                            <label class="mdl-textfield__label">Team name</label>
                        
                        </div>
                    </div>
                    
                    <div class="col-lg-6 p-t-20">
                        <div
                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            {% render_field form.manager class="mdl-textfield__input" placeholder=" " %}
                            <span class="focus-input100 error-label" data-placeholder="&#xf191;" >{{ form.manager.errors }}</span> 
                            <label class="mdl-textfield__label">Manager</label>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 p-t-20">
                        <div
                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                          
                        </div>
                    </div>

                    <input type="hidden" id="employee_ids" name="employee_ids" value="">


                    <div class="col-lg-12 p-t-20 text-center">
                        <button type="submit"
                            class="mdl-button mdl-js-button mdl-button--raised m-b-10 m-r-20 btn-blue" >Submit</button>
                            <a href="{% url 'company:departments_list' %}" class="mdl-button mdl-js-button mdl-button--raised m-b-10 btn-default" id="cancelBtn">Cancel</a>

                        </div>
                </div>
                </form>
                {% endif %}
                {% if request.resolver_match.url_name == 'department_employee_assignment' %}
                    <div class="col-lg-12 p-t-20">
                        {% if not assigned_employees %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
                            Assign Employees  
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
                            Update  Employees  
                        </button>
                        {% endif %}
                    </div>
                    <input type="hidden" id='dept_id' value="{{dept_id}}">

                    <div class="table-scrollable">
                        <table
                            class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                            id="">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Employee name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if assigned_employees %}
                                {% for employee in assigned_employees %}
                                <tr class="odd">
                                    <td>{% get_proper_counter forloop.counter assigned_employees %}</td>
                                    <td>{{employee.person}}</td>
                                    <td>
                                    <a href="{% url 'company:employee_profile_view' employee.id %}"
                                        class="btn btn-primary btn-xs">
                                        <i class="fa fa-eye"></i>
                                    </a></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr class="odd">
                                    <td colspan="4">No Employee found</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="example4_info" role="status" aria-live="polite">
                                Showing {{ start_entry }} to {{ end_entry }} of {{ total_entries }} entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                                <ul class="pagination float-right">
                                    <!-- Previous Button -->
                                    <li class="paginate_button page-item previous {% if not assigned_employees.has_previous %}disabled{% endif %}">
                                        {% if assigned_employees.has_previous %}
                                            <a href="?dept_id={{ dept_id }}page={{ assigned_employees.previous_page_number }}" class="page-link">Previous</a>
                                        {% else %}
                                            <a href="#" class="page-link">Previous</a>
                                        {% endif %}
                                    </li>

                                    <!-- First Page -->
                                    {% if assigned_employees.number > 4 %}
                                        <li class="paginate_button page-item">
                                            <a href="?dept_id={{ dept_id }}&page=1" class="page-link">1</a>
                                        </li>
                                        {% if assigned_employees.number > 5 %}
                                            <li class="paginate_button page-item disabled">
                                                <span class="page-link">...</span>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                    <!-- Page Numbers -->
                                    {% for num in assigned_employees.paginator.page_range %}
                                        {% if num|add:"-3" <= assigned_employees.number and num|add:"3" >= assigned_employees.number %}
                                            <li class="paginate_button page-item {% if assigned_employees.number == num %}active{% endif %}">
                                                <a href="?dept_id={{ dept_id }}&page={{ num }}" class="page-link">{{ num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Last Page -->
                                    {% if assigned_employees.number < assigned_employees.paginator.num_pages|add:"-3" %}
                                        <li class="paginate_button page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                        <li class="paginate_button page-item">
                                            <a href="?dept_id={{ dept_id }}&page={{ assigned_employees.paginator.num_pages }}" class="page-link">{{ assigned_employees.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}

                                    <!-- Next Button -->
                                    <li class="paginate_button page-item next {% if not assigned_employees.has_next %}disabled{% endif %}">
                                        {% if assigned_employees.has_next %}
                                            <a href="?dept_id={{ dept_id }}&page={{ assigned_employees.next_page_number }}" class="page-link">Next</a>
                                        {% else %}
                                            <a href="#" class="page-link">Next</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                {% endif %}
                {% if request.resolver_match.url_name == 'department_client_assignment' %}
                    <div class="col-md-12">
                        <div class="card card-box">
                            {% comment %} <div class="card-head">
                                <header>Client information</header>
                            
                            </div> {% endcomment %}
                            <div class="card-body ">
                                {% if  request.user|has_permission:'userauth.update_clients_to_department' or request.user|has_permission:'userauth.update_own_clients_to_department' %}
                                <button
                                type="button" class="btn btn-info" id="assignClients"
                                data-toggle="modal" data-target="#clientModal">{% if assigned_clients %}Update{% else %}Assign{% endif%} Clients
                                <i class="fa fa-plus"></i>
                                </button>
                                {% endif %}
                                <div class="table-scrollable">
                                    <table
                                        class="table table-striped table-bordered table-hover table-checkable order-column valign-middle"
                                        id="example4">
                                        <thead>
                                            <tr>
                                                <th>S.no.</th>
                                                <th>Client name </th>
                                                 <th>Action </th>	
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for client in assigned_clients %}
                                            <tr class="{% cycle 'odd' 'even' %}">
                                                <td>
                                                {% get_proper_counter forloop.counter assigned_clients %}
                                                </td>
                                                <td>{% if client.person.first_name %}{{client.person.first_name}} {% endif %} {% if client.person.last_name %}{{client.person.last_name}} {% endif %}</td>	
                                                {% if client.id in can_view_clients %}
                                                <td>
                                                    <a href="{% url 'company:client_profile' client.id %}"
                                                    class="btn btn-primary btn-xs">
                                                    <i class="fa fa-eye"></i>
                                                    </a>
                                                </td>
                                                {% endif %}					
                                            </tr>
                                            {% endfor %}
                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example4_info" role="status" aria-live="polite">
                                        Showing {{ start_entry }} to {{ end_entry }} of {{ total_entries }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example4_paginate">
                                        <ul class="pagination float-right">
                                            <!-- Previous Button -->
                                            <li class="paginate_button page-item previous {% if not assigned_clients.has_previous %}disabled{% endif %}">
                                            {% if assigned_clients.has_previous %}
                                                <a href="?page={{ assigned_clients.previous_page_number }}" class="page-link">Previous</a>
                                            {% else %}
                                                <a href="#" class="page-link">Previous</a>
                                            {% endif %}
                                            </li>
                                            <!-- First Page -->
                                            {% if assigned_clients.number > 4 %}
                                            <li class="paginate_button page-item">
                                                <a href="?page=1" class="page-link">1</a>
                                            </li>
                                            {% if assigned_clients.number > 5 %}
                                                <li class="paginate_button page-item disabled">
                                                <span class="page-link">...</span>
                                                </li>
                                            {% endif %}
                                            {% endif %}
                                            <!-- Page Numbers -->
                                            {% for num in assigned_clients.paginator.page_range %}
                                            {% if num|add:"-3" <= assigned_clients.number and num|add:"3" >= assigned_clients.number %}
                                                <li class="paginate_button page-item {% if assigned_clients.number == num %}active{% endif %}">
                                                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                            {% endfor %}
                                            <!-- Last Page -->
                                            {% if assigned_clients.number < assigned_clients.paginator.num_pages|add:"-3" %}
                                            <li class="paginate_button page-item disabled">
                                                <span class="page-link">...</span>
                                            </li>
                                            <li class="paginate_button page-item">
                                                <a href="?page={{ assigned_clients.paginator.num_pages }}" class="page-link">{{ assigned_clients.paginator.num_pages }}</a>
                                            </li>
                                            {% endif %}
                                            <!-- Next Button -->
                                            <li class="paginate_button page-item next {% if not assigned_clients.has_next %}disabled{% endif %}">
                                            {% if assigned_clients.has_next %}
                                                <a href="?page={{ assigned_clients.next_page_number }}" class="page-link">Next</a>
                                            {% else %}
                                                <a href="#" class="page-link">Next</a>
                                            {% endif %}
                                            </li>
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
    </div>
</div>

<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Employees</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card-body pb-2">
                <div class="input-group mb-2">
                    <input type="text" id="search-employee-modal" class="form-control pl-3" name="search" placeholder="Enter Employee name"  style="border-radius:4px ;">
                    <span span class="input-group-append">
                        <button class="btn ripple btn-secondary" id="clear-search-btn" type="button" style="display: none;">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle text-center" id="employee-table">
                        <thead>
                            <tr>
                                <th><input id="checkbox1" type="checkbox">&nbsp; Select all</th>
                                <th>Employee name</th>
                            </tr>
                        </thead>
                        <tbody>
                         

                            {% for employee in employees %}
                            <tr class="employee-row">
                                <td>
                                    <input type="checkbox" class="employee-checkbox" name="employees" value="{{ employee.id }}" 
                                        {% if employee.id in selected_employee_ids %}checked{% endif %}>
                                </td>
                                <td class="employee-name">{{ employee.person.first_name }}</td>
                            </tr>
                        {% endfor %}
                        


                            <tr id="no-employees-row" style="display: none;">
                                <td colspan="3">No employees found</td>
                            </tr>
                        </tbody>
                    </table>
                               </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12 p-t-20 text-center fix-button">
            {% if assigned_employees %}
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-blue " id="saveEmployees">Update</button>
            {% else %}
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-blue " id="saveEmployees">Add</button>
            {% endif %}
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default btn-close" data-dismiss="modal" id="">Cancel</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Clients</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card-body pb-2">
                <div class="input-group mb-2">
                    <input type="text" id="search-client-modal" class="form-control pl-3" name="search" placeholder="Enter Client name"  style="border-radius:4px ;">
                    <span span class="input-group-append">
                        <button class="btn ripple btn-secondary" id="assign-clear-search-btn" type="button" style="display: none;">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="table-scrollable">
            	<form id="assign-client-form" class="disable-on-submit">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle text-center" id="client-table">
                        <thead>
                            <tr>
                                <th><input id="select-all-clients" type="checkbox">&nbsp; Select all</th>
                                <th>Client name</th>
                            </tr>
                        </thead>
                        <tbody>
                         

                            {% for client in clients %}
                            <tr class="client-row">
                                <td>
                                    <input type="checkbox" class="client-checkbox" name="clients" value="{{ client.id }}" 
                                        {% if client.id in assigned_client_ids %}checked{% endif %}>
                                </td>
                                <td class="client-name">{{ client.person.first_name }} {{ client.person.last_name }}</td>
                            </tr>
                        {% endfor %}


                            <tr id="no-clients-row" style="display: none;">
                                <td colspan="3">No clients found</td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="department_id" name="department" value="{{ department_id }}">
               </div>
            </div>
        <div class="modal-footer">
          <div class="col-lg-12 p-t-20 text-center fix-button">
            {% if assigned_clients %}
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-blue " id="saveClients">Update</button>
            {% else %}
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-blue " id="saveClients">Add</button>
            {% endif %}
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default btn-close" data-dismiss="modal" id="">Cancel</button>
        </div>
        </form>
        </div>
      </div>
    </div>
  </div>
<!-- end widget -->
{% endblock %}

{% block javascripts %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var textareas = document.querySelectorAll('textarea[id^="id_"]');
        textareas.forEach(function(textarea) {
            autoExpand(textarea);
        });
    });
    
    function autoExpand(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight + 2) + 'px';
    }
    </script>   

    <script>
        var selectedListElement = document.getElementById('selectedEmployeesList');
        var existingEmployeeNames = [];

        if (selectedListElement) {
            existingEmployeeNames = Array.from(selectedListElement.getElementsByTagName('li'))
                .map(li => li.textContent.trim());
        }

        var tempSelectedEmployees = new Set(existingEmployeeNames);

        document.getElementById('saveEmployees').addEventListener('click', function() {
            var selectedEmployees = [];
            var selectedList = document.getElementById('selectedEmployeesList');

            if (selectedList) {
                selectedList.innerHTML = '';
            }

            existingEmployeeNames = Array.from(tempSelectedEmployees);

            document.querySelectorAll('.employee-checkbox:checked').forEach(function(checkbox) {
                var employeeName = checkbox.closest('tr').querySelector('td:nth-child(2)').textContent;
                var employeeId = checkbox.value;

                selectedEmployees.push(employeeId);

                if (selectedList) {
                    var li = document.createElement('li');
                    li.textContent = employeeName;
                    li.style.listStyleType = 'None' ;
                    selectedList.appendChild(li);
                }
            });

            document.getElementById('employee_ids').value = selectedEmployees.join(',');

            $('#employeeModal').modal('hide');
        });

        document.getElementById('cancelEmployees').addEventListener('click', function() {
            $('#employeeModal').modal('hide');
        });

        document.querySelectorAll('.employee-checkbox').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var employeeName = checkbox.closest('tr').querySelector('td:nth-child(2)').textContent;

                if (checkbox.checked) {
                    tempSelectedEmployees.add(employeeName);
                } else {
                    tempSelectedEmployees.delete(employeeName);
                }
            });
        });

    </script>
    <script>
        const searchInput = document.getElementById('search-employee-modal');
        const clearSearchBtn = document.getElementById('clear-search-btn');
        const noEmployeeRow = document.getElementById('no-employees-row');
    
        searchInput.addEventListener('keyup', function() {
            const query = searchInput.value.trim().toLowerCase();
            const employeeRows = document.querySelectorAll('#employee-table tbody .employee-row');
            let visibleEmployees = 0;
    
            if (query.length > 0) {
                clearSearchBtn.style.display = 'inline-block';
            } else {
                clearSearchBtn.style.display = 'none';
            }
    
            employeeRows.forEach(function(row) {
                const employeeName = row.querySelector('.employee-name').textContent.toLowerCase();
                if (employeeName.includes(query)) {
                    row.style.display = ''; 
                    visibleEmployees++;
                } else {
                    row.style.display = 'none'; 
                }
            });
    
            if (visibleEmployees === 0) {
                noEmployeeRow.style.display = ''; 
                noEmployeeRow.style.backgroundColor = '#e1e5ec';
            } else {
                noEmployeeRow.style.display = 'none';         }
        });
    
        clearSearchBtn.addEventListener('click', function() {
            searchInput.value = ''; 
            clearSearchBtn.style.display = 'none'; 
            const employeeRows = document.querySelectorAll('#employee-table tbody .employee-row');
            employeeRows.forEach(function(row) {
                row.style.display = '';         });
    
                noEmployeeRow.style.display = 'none';     });
    </script>
    <script>
        document.getElementById('checkbox1').addEventListener('change', function() {
            var checkboxes = document.querySelectorAll('.employee-checkbox');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = this.checked;
            }.bind(this));
        });

    </script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const employeeTable = document.getElementById("employee-table");
        const selectAllCheckbox = document.getElementById("checkbox1");
        const saveButton = document.getElementById("saveEmployees");
        
        const deptId = document.getElementById("dept_id").value;
    
        function getEmployeeSelections() {
            const selectedEmployees = [];
            const unselectedEmployees = [];
    
            const checkboxes = employeeTable.querySelectorAll(".employee-checkbox");
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedEmployees.push(checkbox.value);
                } else {
                    unselectedEmployees.push(checkbox.value);
                }
            });
    
            return { selectedEmployees, unselectedEmployees };
        }
    
        saveButton.addEventListener("click", function () {
            const { selectedEmployees, unselectedEmployees } = getEmployeeSelections();
    
            fetch("{% url 'company:assign_employees' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken") 
                },
                body: JSON.stringify({
                    dept_id: deptId, // Include the department ID here
                    selected_employees: selectedEmployees,
                    unselected_employees: unselectedEmployees
                })
            })
            .then(response => {
                if (!response.ok) throw new Error("Network response was not ok");
                return response.json();
            })
            .then(data => {
                console.log("Employees assigned successfully:", data);
                location.reload();
                //window.location.href = "{% url 'company:departments_list' %}"
                $('#employeeModal').modal('hide');
            })
            .catch(error => console.error("Error:", error));
        });
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    
</script>
<script>
    const assignsearchInput = document.getElementById('search-client-modal');
    const assignclearSearchBtn = document.getElementById('assign-clear-search-btn');
    const assignnoClientsRow = document.getElementById('no-clients-row');

    assignsearchInput.addEventListener('keyup', function() {
        const query = assignsearchInput.value.trim().toLowerCase(); 
        const clientsRows = document.querySelectorAll('#client-table tbody .client-row'); 
        let visibleClients = 0;

        if (query.length > 0) {
            assignclearSearchBtn.style.display = 'inline-block';
        } else {
            assignclearSearchBtn.style.display = 'none';
        }

        clientsRows.forEach(function(row) {
            const clientName = row.querySelector('.client-name').textContent.toLowerCase();  
            if (clientName.includes(query)) { 
                row.style.display = '';  
                visibleClients++;
            } else {
                row.style.display = 'none';  
            }
        });

        if (visibleClients === 0) {
            assignnoClientsRow.style.display = ''; 
            assignnoClientsRow.style.backgroundColor = '#e1e5ec';
        } else {
            assignnoClientsRow.style.display = 'none'; 
        }
    });

    assignclearSearchBtn.addEventListener('click', function() {
        assignsearchInput.value = '';  
        assignclearSearchBtn.style.display = 'none';  
        
        const clientsRows = document.querySelectorAll('#client-table tbody .client-row');
        
        clientsRows.forEach(function(row) {
            row.style.display = '';  
        });

        assignnoClientsRow.style.display = 'none'; 
    });
</script>
<script>
    const selectAllCheckbox = document.getElementById('select-all-clients');
    const clientCheckboxes = document.querySelectorAll('#clientModal .client-checkbox');

    selectAllCheckbox.addEventListener('change', function () {
        const isChecked = selectAllCheckbox.checked;

        clientCheckboxes.forEach(function (checkbox) {
            checkbox.checked = isChecked;
        });
    });

    clientCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            const allChecked = Array.from(clientCheckboxes).every(cb => cb.checked);
            
            selectAllCheckbox.checked = allChecked; 
            if (!allChecked) {
                selectAllCheckbox.checked = false; 
            }
        });
    });

    window.addEventListener('load', function () {
        const allChecked = Array.from(clientCheckboxes).every(cb => cb.checked);
        
        selectAllCheckbox.checked = allChecked;
    });
</script>
<script>
$(document).ready(function() {
    $('#assign-client-form').on('submit', function(event) {
        event.preventDefault();

        var selectedClients = $('input[name="clients"]:checked').map(function() {
            return $(this).val();
        }).get();
		var unselectedClients = $('input[name="clients"]:not(:checked)').map(function() {
            return $(this).val();
        }).get();

		console.log("Selected Clients:", selectedClients);
        console.log("Unselected Clients:", unselectedClients);

        var departmentId = '{{ department_id }}';

        var data = {
            'dept_id': departmentId,
            'selected-clients': selectedClients,
			'unselected-clients':unselectedClients
        };

        var csrftoken = '{{ csrf_token }}';

        $.ajax({
            url: '{% url "company:assign_client_to_department" %}?department_id=department_id',
            type: 'POST',
            data: data,
            headers: {
                'X-CSRFToken': csrftoken,
            },
            success: function(response) {
                console.log('Clients assigned successfully:', response);
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Error while assigning clients:', error);
            }
        });
    });
});
</script> 
<script>
$('#example4').DataTable({
    paging: false,
    info: false
});
</script>
{% endblock javascripts %}
  