{% extends "base_auth.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Reset Password{% endblock %}
{% block content %}

<div class="limiter">
    <div class="container-login100 page-background">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="POST",action="">
                {% csrf_token %}
                <span class="login100-form-logo">
                    <img alt="" src="{% static 'assets/img/logo-2.png'%}">
                </span>
                <!-- <span class="login100-form-title  p-t-27">
                    Forgot Your Password?
                </span> -->
                {% if message %}
                <p class="text-center txt-small-heading" style="color: white;">{{ message }}</p>
                {% else %}
                <p class="text-center txt-small-heading">
                    Forgot Your Password? Let Us Help You.
                </p>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
					{% render_field reset_form.email class='input100 field-input' placeholder='E-mail' %}
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>
                {% endif %}

                {% if reset_form.email.errors %}
						<p style="color: red;">{{ reset_form.email.errors }} </p>
                        {% endif %}
                    {% comment %} {% if message %}
                            <p class="text-center txt-small-heading" style="color: white;">{{ message }}</p>
                    {% endif %} {% endcomment %}
                    {% if error_message %}
                            <p style="color: red;">{{ error_message }}</p>
                    {% endif %}

            {% if  not message %}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send
                    </button>
                </div>
                <div class="text-center p-t-27">
                    <a class="txt1" href="{% url 'user_auth:login' %}">
                        Login?
                    </a>
                </div>

            {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
