{% extends "base_auth.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}
{% block content %}
{% load widget_tweaks %}
	<div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
				<form method="POST"  class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-logo">
						<img alt="" src="{% static 'assets/img/login-logo1.png'%}">
					</span>
					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						{% render_field form.email class="input100" placeholder="Email" %}
						{% comment %} <input class="input100" type="text" name="username" placeholder="Username"> {% endcomment %}
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						{% render_field form.password class="input100" placeholder="Password" %}
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					{% if msg %}
					<div>
						<span style="color: red;">
							{{ msg | safe }}
						</span>
					</div>
					{% endif %}
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					<div class="text-center p-t-30">
						{% if company_obj %}
						<a class="txt1" href="{% url 'user_auth:register' %}">
							Register
						</a>
						<a class="txt1"> | </a>
						{% endif %}
						<a class="txt1" href="{% url 'user_auth:forget_password' %}">
							Forgot Password?
						</a>
					</div>
				</form>
				
				<div class="text-center p-t-30">
					<a href="https://www.codigomantra.com" target="_blank" class="makerCss" style="color: rgb(255, 255, 255);"><b>Powered by : Codigo Mantra Private Limited</b></a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascript %}
<!-- start js include path -->
<script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/pages/extra-pages/pages.js' %}"></script>
<script src ="{% static '/assets/js/login.js' %}"></script>
<!-- end js include path -->
{% endblock %}

