<!-- new_userauth/password_reset_email.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>

    <p>We received a request to reset your password. If you did not make this request, you can ignore this email. No changes will be made to your account.</p>

    <p>To reset your password, please click on the link below:</p>

    <a href="{{ protocol }}://{{ domain }}{% url 'user_auth:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>

    <p>If the link above doesn't work, you can copy and paste the following URL into your browser:</p>

    <p>{{ protocol }}://{{ domain }}{% url 'user_auth:password_reset_confirm' uidb64=uid token=token %}</p>

    <p>This link is valid for {{ timeout }} hours.</p>

    <p>Thank you,</p>
    <p>Your {{ site_name }} Team</p>
</body>
</html>
