{% extends "base_auth.html" %}
{% block title %}Set password{% endblock %}
{% load static %}
{% block content %}
<form method='POST' action=""> 
		{% csrf_token %}
	<div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
				{% include 'userauth/form/reset_password_form.html' %}
			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block javascript %}
<!-- start js include path -->
<script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/assets/js/pages/extra-pages/pages.js' %}"></script>
<script src ="{% static '/assets/js/login.js' %}"></script>

{% endblock %}

