{% extends 'base_auth.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}
{% block stylesheets %}
    <style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
}
.error_font{
  color: #ff1313,
  font-size:14px
}
</style>
{% endblock stylesheets %}
{% block content %}
  <div class="limiter">
    <div class="container-login100 page-background">
      <div class="wrap-login100">
        {% include 'userauth/form/registration_form.html' %}
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <!-- start js include path -->
  <script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>
  <!-- bootstrap -->
  <script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/static/assets/js/pages/extra-pages/pages.js' %}"></script>
  <!-- end js include path -->
{% endblock %}
